# Papers
Providing_a_Memory_Mechanism_to_Enhance.pdf
1-s2.0-0166218X9090094S-main.pdf


# Training set
train
train_augmented
train_augmented_v2
train_augmented_v3


# Claude configuration
CLAUDE.md
.claude


# CW
20616316.Zip
cw.txt
report_content.md

# Example data set
l2_bounds_testdual_0_4_8_instances(1).csv
