# Papers
Providing_a_Memory_Mechanism_to_Enhance.pdf
1-s2.0-0166218X9090094S-main.pdf


# Useless training sets
train_augmented
train_augmented_v2
train_augmented_v4
train_scale_5000

.claude
report_content.md
CLAUDE.md
20616316.Zip


# Python code which generates useless training folders
augment_training_v4.py
augment_training.py


# Apple system files
.DS_Store